body { background: #2ebbbb; min-height: 600px;}

#wrapper {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#clouds { 
	height: 60px;
	background: white;
}

#landing { 
	text-align: center
}

#header { 
	display: inline-block; 
	padding-left: 600px;
	width: 0;
	height: 345px;
	background: url(../images/header.png) no-repeat;
	overflow: hidden;
	margin-top: 50px;
}

#foot {
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: #894225;
	z-index: -1;
}
#foot:before {
	background: url(../images/kitchen2.png) no-repeat;
	background-position: bottom center;
	height: 326px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

a.cookie_button {
	display: inline-block; 
	padding-left: 100px;
	width: 0;
	height: 48px;
	background: url(../images/button.png) no-repeat;
	overflow: hidden;
	margin: 15px 70px;
}